<div class="card-body" style="padding: 5px;" class="float-right">
    <div class="input-group mb-4">
        <input type="text" placeholder="search" class="form-control form-control-sm" [(ngModel)]="searchText" *ngIf="containerStat"  (keyup.enter)="performSearch()"/>
        <button class="btn-sm btn-primary" type="button" [(ngModel)]="searchText" *ngIf="containerStat" title="DigitalSearch" (click)="performSearch()">
            <i class="fa fa-search"></i>
        </button>
      </div>
</div>
                        <div class="table-responsive" *ngIf="containerStat">
                            <table class="table table-bordered" id="tbl-uploaddetails">
                                <thead>
                                    <th>SI#</th>
                                    <th>Agent Name</th>
                                    <th>Candidate Name</th>
                                    <th
                                      *ngIf="!(this.getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN') && !this.getServiceConfigCodes.includes('ITR') && !this.getServiceConfigCodes.includes('DIGILOCKER')) ; else pantouanBlockEmail">
                                      Email ID</th>
                                    <ng-template #pantouanBlockEmail>
                                      <th *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">
                                        Email ID
                                      </th>
                                    </ng-template>
                                    <th
                                      *ngIf="getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('ITR') && !getServiceConfigCodes.includes('DIGILOCKER') && !getServiceConfigCodes.includes('PANTOUAN') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN'); else pantouanBlock">
                                      UAN
                                    </th>
                                    <ng-template #pantouanBlock>
                                      <th *ngIf="!getServiceConfigCodes.includes('PANTOUAN');else pantouanfalse">
                                        Contact Number
                                      </th>
                                    </ng-template>
                                    <ng-template #pantouanfalse>
                                    </ng-template>

                                    <th *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">PAN Number</th>
                                    <th>Applicant ID</th>
                                    <th>Data uploaded</th>
                                    <th>Status</th>
                                    <th *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">UAN</th>
                                    <th *ngIf="stat_INVITATIONSENT">Action</th>
                                    <ng-template
                                      *ngIf="(getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN') && !getServiceConfigCodes.includes('ITR') && !getServiceConfigCodes.includes('DIGILOCKER')) ||  getServiceConfigCodes.includes('PANTOUAN') ;else notcapgscope">
                                    </ng-template>
                                    <ng-template #notcapgscope>
                                      <th *ngIf="(getStatCodes=='NEWUPLOAD'|| getConventionalStatCodes=='CONVENTIONALNEWUPLOAD') && !this.getServiceConfigCodes.includes('PANTOUAN')">
                                        LOA</th>
                                    </ng-template>

                                    <th *ngIf="stat_INVITATIONSENT"><input type="checkbox" (click)="selectAll($event)"></th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ChartDataListing; let i=index" [hidden]="!searchFilter(item)">
                                        <td>{{i+1}}</td>
                                        <td>{{ item.createdByUserFirstName }} {{ item.createdByUserLastName }}</td>
                                        <td>{{item.candidateName}}</td>
                                      <td
                                        *ngIf="!(this.getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN') && !this.getServiceConfigCodes.includes('ITR') && !this.getServiceConfigCodes.includes('DIGILOCKER')) ; else showforpantouan">
                                        {{item.emailId}}
                                      </td>
                                      <ng-template #showforpantouan>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">
                                          {{item.emailId}}
                                        </td>
                                      </ng-template>
                                      <td>{{item.contactNumber}}</td>
                                        <td>{{item.applicantId}}</td>
                                        <td>{{item.createdOn}}</td>
                                        <td *ngIf="!this.getServiceConfigCodes.includes('PANTOUAN')">{{item.candidateStatusName}}
                                            <span>
                                                <a type="button" *ngIf="item.candidateStatusName === 'QC Pending' || item.candidateStatusName === 'Interim Report'  || item.candidateStatusName === 'Final Report'" (click)="downloadReports(item, item.candidateStatusName)" style="color: blue;">
                                                    {{item.candidateStatusName === 'QC Pending' ? (item.preOfferVerificationColorCode ? item.preOfferVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Interim Report' ? (item.interimVerificationColorCode ? item.interimVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Final Report' ? (item.finalVerificationColorCode ? item.finalVerificationColorCode.colorCode : ' ') : ' '))}}
                                                </a>
                                            </span>
                                        </td>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN') && item.candidateStatusName != 'QC Pending' && item.candidateStatusName != 'Invitation Sent' && item.candidateStatusName != 'Invalid Upload'">{{item.candidateStatusName}}
                                            <span>
                                                <a type="button" *ngIf="item.candidateStatusName === 'QC Pending' || item.candidateStatusName === 'Interim Report'  || item.candidateStatusName === 'Final Report'" (click)="downloadReports(item, item.candidateStatusName)" style="color: blue;">
                                                    {{item.candidateStatusName === 'QC Pending' ? (item.preOfferVerificationColorCode ? item.preOfferVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Interim Report' ? (item.interimVerificationColorCode ? item.interimVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Final Report' ? (item.finalVerificationColorCode ? item.finalVerificationColorCode.colorCode : ' ') : ' '))}}
                                                </a>
                                            </span>
                                        </td>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN') && item.candidateStatusName === 'QC Pending'">Completed
                                            <span>
                                                <a type="button" *ngIf="item.candidateStatusName === 'QC Pending' || item.candidateStatusName === 'Interim Report'  || item.candidateStatusName === 'Final Report'" (click)="downloadReports(item, item.candidateStatusName)" style="color: blue;">
                                                    {{item.candidateStatusName === 'QC Pending' ? (item.preOfferVerificationColorCode ? item.preOfferVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Interim Report' ? (item.interimVerificationColorCode ? item.interimVerificationColorCode.colorCode : ' ') : (item.candidateStatusName === 'Final Report' ? (item.finalVerificationColorCode ? item.finalVerificationColorCode.colorCode : ' ') : ' '))}}
                                                </a>
                                            </span>
                                        </td>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN') && item.candidateStatusName === 'Invitation Sent'">In Progress</td>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN') && item.candidateStatusName === 'Invalid Upload'">Uan Not Available</td>
                                        <td *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">{{item.uan}}</td>
                                        <td *ngIf="stat_INVITATIONSENT">
                                            <div style="min-width: 80px;text-align: center;">
                                                <!-- <button *ngIf="item.candidateStatusName === 'Interim Report' || item.candidateStatusName === 'QC Pending'" type="button" (click)="linkAdminApproval(item.candidateCode)" class="btn btn-sm btn-warning" title="Edit"><i class="fas fa-edit"></i></button> -->
                                                <!-- <button type="button" (click)="initiatevendor(item.candidateId)" class="btn btn-primary btn-sm">Initiate vendor checks</button> -->
                                                <button type="button" *ngIf="!item.conventionalCandidate && (this.getServiceConfigCodes.includes('CONVENTIONALALLCHECKS'))" (click)="sendInvitationToHybridCandidate(item.candidateId, item.candidateCode, item.accountName)" class="btn btn-primary btn-sm" title="Invite hybrid candidate for conventional"><i class="fa fa-edit"></i></button>
                                                <button type="button" *ngIf="item.conventionalCandidate && item.candidateStatusName === 'QC Pending' || item.candidateStatusName === 'Conventional New Upload' || item.conventionalCandidate && item.candidateStatusName === 'Interim Report' || item.candidateStatusName === 'Conventional QC Pending' || item.conventionalCandidate && item.candidateStatusName === 'Conventional Interim Report' || item.candidateStatusName === 'Pending Approval'" (click)="initiatevendor(item.candidateId, item.candidateCode)" class="btn btn-primary btn-sm" title="Initiate vendor checks"><i class="fa fa-edit"></i></button>

                                                <button type="button" *ngIf="item.candidateStatusName === 'QC Pending' && !this.getServiceConfigCodes.includes('PANTOUAN') || item.candidateStatusName === 'Interim Report' && !this.getServiceConfigCodes.includes('PANTOUAN')" (click)="linkAdminApproval(item.candidateCode)" class="btn btn-warning btn-sm" title="Edit"> <i class="fa fa-edit"></i></button>
                                                <button type="button" *ngIf="item.candidateStatusName === 'Invitation Sent' || item.candidateStatusName === 'Digilocker Completed' || item.candidateStatusName === 'ITR Completed' || item.candidateStatusName === 'EPFO Completed' || item.candidateStatusName === 'EPFO Skipped' || item.candidateStatusName === 'CAF Pending' || item.candidateStatusName === 'Invitation Expired' || item.candidateStatusName === 'Invalid Upload' || item.candidateStatusName === 'Relative Address Completed' || item.candidateStatusName === 'Re Invite' || item.candidateStatusName === 'UAN Fetch Failed'" (click)="openModal(modalData, item.candidateCode)" class="btn btn-warning btn-sm"  title="Edit"><i class="fa fa-edit"></i></button> <!--*ngIf="EDITCANDIDATE_stat || authService.roleMatch(['ROLE_ADMIN'])"-->
                                                <!-- <button type="button" *ngIf="stat_linkAdminApproval" (click)="linkAdminApproval(item.candidateCode)" class="btn btn-sm btn-warning" title="View Report"><i class="fas fa-eye"></i></button> -->

                                                <!-- <button type="button" *ngIf="stat_NEWUPLOAD" (click)="activeInactive(item.candidateCode)" class="btn btn-danger btn-sm" title="Cancel Candidate"><i class="fas fa-times"></i></button> -->
                                                <button type="button" *ngIf="item.candidateStatusName === 'Invitation Sent' || item.candidateStatusName === 'Digilocker Completed' || item.candidateStatusName === 'ITR Completed' || item.candidateStatusName === 'EPFO Completed' || item.candidateStatusName === 'EPFO Skipped' || item.candidateStatusName === 'CAF Pending' || item.candidateStatusName === 'Invitation Expired' || item.candidateStatusName === 'Invalid Upload' || item.candidateStatusName === 'Relative Address Completed' || item.candidateStatusName === 'Re Invite'" (click)="activeInactive(item.candidateCode)" class="btn btn-danger btn-sm" title="Decline"><i class="fas fa-times"></i></button>

                                                <!-- conventional Buttons -->
                                                <button type="button" *ngIf="item.conventionalCandidate && item.candidateStatusName === 'Conventional Invitation Sent' || item.candidateStatusName === 'Conventional Invitation Expired' || item.candidateStatusName === 'Conventional Invalid Upload'" (click)="openModal(modalData, item.candidateCode)" class="btn btn-warning btn-sm"  title="Conventional Edit"><i class="fa fa-edit"></i></button> <!--*ngIf="EDITCANDIDATE_stat || authService.roleMatch(['ROLE_ADMIN'])"-->
                                                <button type="button" *ngIf="item.conventionalCandidate && item.candidateStatusName === 'Conventional Invitation Sent' || item.candidateStatusName === 'Conventional Invitation Expired' || item.candidateStatusName === 'Conventional Invalid Upload'" (click)="activeInactive(item.candidateCode)" class="btn btn-danger btn-sm" title="Decline"><i class="fas fa-times"></i></button>

                                            </div>
                                        </td>
                                      <ng-template
                                        *ngIf="(getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN') && !getServiceConfigCodes.includes('ITR') && !getServiceConfigCodes.includes('DIGILOCKER')) ||  getServiceConfigCodes.includes('PANTOUAN') ;else notcapgscope">
                                      </ng-template>
                                      <ng-template #notcapgscope>
                                        <td
                                          *ngIf="(getStatCodes=='NEWUPLOAD'|| getConventionalStatCodes=='CONVENTIONALNEWUPLOAD') && !this.getServiceConfigCodes.includes('PANTOUAN')">
                                          <button type="button" *ngIf="item.isLoaAccepted" (click)="getLoaPDF(item.candidateCode)"
                                                  class="btn btn-sm btn-primary" title="View Loa"><i class="fas fa-eye"></i></button>
                                        </td>
                                      </ng-template>
                                        <td *ngIf="!item.conventionalCandidate && stat_INVITATIONSENT"><input type="checkbox" *ngIf="item.candidateStatusName === 'Invitation Sent' || item.candidateStatusName === 'Digilocker Completed' || item.candidateStatusName === 'ITR Completed' || item.candidateStatusName === 'EPFO Completed' || item.candidateStatusName === 'EPFO Skipped' || item.candidateStatusName === 'CAF Pending' || item.candidateStatusName === 'Invitation Expired' || item.candidateStatusName === 'Invalid Upload' || item.candidateStatusName === 'Relative Address Completed' || item.candidateStatusName === 'Re Invite' || item.candidateStatusName === 'UAN Fetch Failed'" id="{{item.candidateCode}}" value="{{item.candidateCode}}" class="childCheck" (change)="childCheck($event)"></td>
                                        <!-- conventional Checkbutton -->
                                        <td *ngIf="item.conventionalCandidate && stat_INVITATIONSENT"><input type="checkbox" *ngIf="item.conventionalCandidate && item.candidateStatusName === 'Conventional Invitation Sent' || item.candidateStatusName === 'Conventional Invitation Expired' || item.candidateStatusName === 'Conventional Invalid Upload'  || item.candidateStatusName === 'Conventional Re Invite'" id="{{item.candidateCode}}" value="{{item.candidateCode}}" class="childCheck" (change)="childCheck($event)"></td>

                                    </tr>
                                </tbody>
                            </table>
                        <form [formGroup]="formSendInvitation" *ngIf="containerStat">
                            <input type="hidden" formControlName="candidateReferenceNo" #candidateReferenceNo>
                            <input type="hidden" formControlName="statuscode">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                  
                                    <button type="submit" *ngIf="stat_btn_SendInvi" (click)="sendinvitation()" class="btn btn-sm btn-success">Send Invitation</button>
                                    <button type="submit" *ngIf="stat_btn_ReInvite && !this.getServiceConfigCodes.includes('PANTOUAN') && !(getServiceConfigCodes.includes('EPFO') && !getServiceConfigCodes.includes('EPFOEMPLOYEELOGIN') && !getServiceConfigCodes.includes('ITR') && !getServiceConfigCodes.includes('DIGILOCKER'))"
                                     (click)="reInvite(candidateReferenceNo)" class="btn btn-sm btn-success ">Re-Invite</button>
                                    
                                    <button type="submit" *ngIf="stat_btn_ReInvite && this.getServiceConfigCodes.includes('PANTOUAN')" (click)="reFetchPAToUAN()" class="btn btn-sm btn-success ">Re-Fetch</button>
                                    <button type="submit" *ngIf="stat_btn_UANFetchFailed && !this.getServiceConfigCodes.includes('PANTOUAN')" (click)="reFetchUAN()" class="btn btn-sm btn-success ">Re-Fetch</button>
                                    <button type="submit" *ngIf="stat_btn_UANFetchFailed && this.getServiceConfigCodes.includes('PANTOUAN')" (click)="reFetchPAToUAN()" class="btn btn-sm btn-success ">Re-Fetch</button>
                                </div>
                            </div>

                        </form>
                            <!-- <div class="pagination">
                                <button [disabled]="currentPageIndex == 0" (click)="goToPrevPage()">Previous</button>
                                <span>Page {{currentPageIndex}} of {{totalPages}}</span>
                                <button [disabled]="currentPageIndex == totalPages - 1" (click)="goToNextPage()">Next</button>
                            </div> -->
                            <div class="pagination">
                                <button class="pagination-button prev-button" [disabled]="currentPageIndex === 0" (click)="onPageChange(currentPageIndex - 1)">
                                    Previous
                                </button>

                                <ng-container *ngFor="let page of getDisplayedPages()">
                                    <button class="pagination-button page-number-button" [ngClass]="{'active': page === currentPageIndex}" (click)="onPageChange(page)">
                                        {{ page + 1 }}
                                    </button>
                                </ng-container>

                                <button class="pagination-button next-button" [disabled]="currentPageIndex === totalPages - 1" (click)="onPageChange(currentPageIndex + 1)">
                                    Next
                                </button>
                            </div>

                        </div>
                        <ng-template #modalData let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Update Candidate</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="updateCandidate">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="" class="required">Candidate Name</label>
                                                <input type="text" class="form-control form-control-sm" id="" formControlName="candidateName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="required">Agent Name</label>
                                                <input type="text" readonly class="form-control form-control-sm" id="" formControlName="createdByUserFirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-none">
                                            <div class="form-group">
                                                <label for="" class="required">Reference No</label>
                                                <input type="text" readonly class="form-control form-control-sm" id="" formControlName="candidateCode">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="">Applicant Id</label>
                                                <input type="text" class="form-control form-control-sm" id="" formControlName="applicantId">
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="!this.getServiceConfigCodes.includes('PANTOUAN')">
                                            <div class="form-group">
                                                <label for="" class="">Contact Number</label>
                                                <input type="text" class="form-control form-control-sm" minlength="10" maxlength="10" id="" formControlName="contactNumber">
                                                <div style="color: red;" *ngIf="showContactNumberError && updateCandidate.get('contactNumber')?.value.length !== 10">Invalid Contact number</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="this.getServiceConfigCodes.includes('PANTOUAN')">
                                            <div class="form-group">
                                                <label for="" class="">PAN Number</label>
                                                <input type="text" class="form-control form-control-sm" minlength="10" maxlength="10" id="" formControlName="contactNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="required">Email ID</label>
                                                <input type="text" class="form-control form-control-sm" id="" formControlName="emailId">
                                                <div style="color: red;" *ngIf="showEmailIdError && updateCandidate.get('emailId')?.invalid">Email is Invalid</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center mt-3 pb-3">
                                            <!-- <button type="button" (click)="initiatevendor()" class="btn btn-primary btn-sm">Initiate vendor checks</button> -->
                                            <button type="button" (click)="onSubmit(updateCandidate)" class="btn btn-primary btn-sm">Submit</button>
                                            <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                          </ng-template>
