@import  "../../../assets/scss/login";

.login_content .lc_right h2{
    font-size: 20px;
}

.form-group {
    position: relative;
}

.form-group .form-control {
    padding-right: 30px; /* Adjust as necessary */
}

.form-group .eye-button {
    position: absolute;
    right: 10px; /* Adjust as necessary */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;
}

.eye-button {
    margin-left: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.warning-icon {
    margin-left: 8px;
    color: #f00; /* Or whatever color you prefer */
    font-size: 16px;
}

.warning-icon i {
    pointer-events: none; /* Prevent clicks on the icon from interfering */
}
